@{
    ViewData["Title"] = "Welcome Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<body>
    <div class="container">
        <div style="background-color: rgba(255, 255, 255, 0.9); padding: 20px; border-radius: 10px;">
            <h1>Witaj w aplikacji Moja Firma v1.0</h1>
            <p>
                Zarządzaj urlopami swojego zespołu z łatwością dzięki naszej intuicyjnej aplikacji. Umożliwiamy szybkie składanie wniosków urlopowych, śledzenie statusu zgłoszeń oraz efektywne zarządzanie urlopami całej firmy. Nasze narzędzie zapewnia transparentność, wygodę i pełne dostosowanie do potrzeb Twojej organizacji.

            
            </p>
            <p style="text-align: center;">
                <p>Rozpocznij zarządzanie urlopami w swojej firmie już dziś!</p>
            
        </div>
    </div>
</body>


