@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<body>
    <div class="container">
        
       
            <p>Witaj w aplikacji "Moja Firma". Dbamy o Twoją prywatność i bezpieczeństwo danych. Poniżej znajdziesz informacje dotyczące zbierania, przechowywania i wykorzystywania Twoich danych osobowych przez naszą aplikację.</p>

            <h5>1. Zbieranie danych</h5>
            <p>Podczas rejestracji oraz w trakcie korzystania z naszej aplikacji zbieramy tylko niezbędne dane osobowe, takie jak imię, adres e-mail i inne informacje wymagane do świadczenia usług.</p>

            <h5>2. Przechowywanie danych</h5>
            <p>Twoje dane osobowe są przechowywane w bezpieczny sposób, zgodnie z najnowszymi standardami ochrony danych.</p>

            <h5>3. Wykorzystanie danych</h5>
            <p>Twoje dane osobowe są wykorzystywane jedynie w celu świadczenia usług zgodnie z umową oraz w celach zgodnych z Twoimi preferencjami.</p>

            <h5>4. Udostępnianie danych</h5>
            <p>Nie udostępniamy Twoich danych osobowych osobom trzecim bez Twojej zgody, chyba że wymaga tego prawo lub jest to niezbędne do świadczenia usług.</p>

            <h5>5. Bezpieczeństwo</h5>
            <p>Dbamy o bezpieczeństwo Twoich danych osobowych stosując odpowiednie środki techniczne i organizacyjne.</p>

            <h5>6. Prawa użytkowników</h5>
            <p>Masz prawo dostępu do swoich danych osobowych, ich poprawiania oraz usuwania z naszej bazy danych. Skontaktuj się z nami w celu realizacji tych praw.</p>

            <h5>7. Kontakt</h5>
            <p>W razie dodatkowych pytań dotyczących polityki prywatności aplikacji "Moja Firma", skontaktuj się z nami mailowo lub telefonicznie</p>
     
       
    </div>
</body>